<section id="content">
  <!-- NAVBAR -->
  <nav>
    <form class="frmFilter" action="#">
      <!-- <input title="#" id="pi_input" type="range" min="0" max="5" step="any" />
      <p>Value: <output id="value"></output></p> -->
      <div class="form-input">
        <mat-form-field>
          <mat-label>Selecione o período</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <!-- <input (dateInput)="onDateIn($event.value)" id="data" matStartDate placeholder="Start date">
            <input (dateInput)="onDateUntil($event.value)" matEndDate placeholder="End date"> -->
          </mat-date-range-input>
          <!-- <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint> -->
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      </div>
    </form>
    <input type="checkbox" id="switch-mode" hidden>
    <label for="switch-mode" class="switch-mode"></label>
    <a href="#" class="notification">
      <i class='bx bxs-bell' ></i>
      <span class="num">8</span>
    </a>
    <!-- <a href="#" class="profile">
      <img title="#" src="img/people.png">
    </a> -->
  </nav>

</section>
