<div class="card h-100 d-flex flex-column">
  <div class="card-body d-flex flex-column">
    <h3 class="text-uppercase text-center mb-4" [style.color]="color.colorBlueDark">
      Faturamento ( {{ _ano }} )
    </h3>
    <div class="row text-center flex-grow-1 align-items-center">
      <div class="col-sm-12 col-md-4 d-flex flex-column align-items-center">
        <h5 class="text-uppercase text-body-secondary mb-2 d-flex align-items-center">
          Inter.
          <i class='h5 bx bxs-ambulance ml-2'></i>
        </h5>
        <span class="dynamic-heading" [ngClass]="headingClass()" [style.color]="color.colorBlue">{{ _lbInt }}</span>
      </div>
      <div class="col-sm-12 col-md-4 d-flex flex-column align-items-center">
        <h5 class="text-uppercase text-body-secondary mb-2 d-flex align-items-center">
          Cons. <i class='h5 bx bx-first-aid ml-2'></i>
        </h5>
        <span class="dynamic-heading" [ngClass]="headingClass()" [style.color]="color.colorBlue">{{ _lbCons }}</span>
      </div>
      <div class="col-sm-12 col-md-4 d-flex flex-column align-items-center">
        <h5 class="text-uppercase text-body-secondary mb-2 d-flex align-items-center">
          SADT <i class='h5 bx bx-test-tube ml-2'></i>
        </h5>
        <span class="dynamic-heading" [ngClass]="headingClass()" [style.color]="color.colorBlue">{{ _lbSadt }}</span>
      </div>
    </div>
  </div>
  <div class="card-footer d-flex justify-content-center">
    <h4 class="text-uppercase mb-0 text-body-secondary">
      Total: <span class="h2 mb-0" [style.color]="color.colorGreenDark">{{ _total }}</span>
    </h4>
  </div>
</div>
