<div class="row">
  <div class="col-6 sm-12 lg-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="searchMedicamento" placeholder="Buscar medicamento..."  [(ngModel)]="_searchMedicamento">
      <label for="searchMedicamento">Medicamento</label>
    </div>

  </div>
  <div class="col-6 sm-12 lg-6">
    <div class="form-floating mb-3">
      <input class="form-control" list="datalistOptions" id="searchGrupoMed" placeholder="Type to search..." [(ngModel)]="_searchGrupo">
      <datalist id="datalistOptions" >
        <option value="{{grupo.descricao}}" *ngFor="let grupo of _dsGrupo" >
      </datalist>
      <label for="searchGrupoMed">Grupo de Medicamento</label>
    </div>
  </div>
</div>

<div class="toggle">
  <input type="radio" name="sizeBy" value="-1" id="sizeWeight" [(ngModel)]="_searchVencimento"/>
  <label for="sizeWeight">Vencido</label>

  <input type="radio" name="sizeBy" value="15" id="em15dias" [(ngModel)]="_searchVencimento"/>
  <label for="em15dias">Vencimento em  15 dias</label>

  <input type="radio" name="sizeBy" value="30" id="em30dias" [(ngModel)]="_searchVencimento"/>
  <label for="em30dias">Vencimento em  30 dias</label>

  <input type="radio" name="sizeBy" value="31" id="mais30" [(ngModel)]="_searchVencimento"/>
  <label for="mais30">Vencimento após 30 dias</label>

  <input type="radio" name="sizeBy" value="-2" id="todos" checked="checked" [(ngModel)]="_searchVencimento"/>
  <label for="todos">Todos</label>
</div>

<div class="row">
  <div class="col col-12 ">
    <div class="card content">
      <div class="row">
        <div class="d-flex justify-content-center">
          <div class="col col-12">
            <div class="row">
              <div class="col col-3"><i class='bx bxs-circle text-danger'></i> Vencido</div>
              <div class="col col-3"><i class='bx bxs-circle text-warning'></i> Vencimento em  15 dias</div>
              <div class="col col-3"><i class='bx bxs-circle text-info'></i> Vencimento em  30 dias</div>
              <div class="col col-3"><i class='bx bxs-circle text-success'></i>Vencimento após 30 dias</div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="card-body overflow-auto">
        <table class="table">
          <thead >
            <tr>
              <th scope="col"><i class='bx bx-clinic'></i> Medicamento </th>
              <th scope="col"><i class='bx bx-clinic'></i> Local </th>
              <th scope="col"><i class='bx bx-calendar'></i> Validade</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let prod of _ProdutoValidade | searchMedicamentos:_searchMedicamento | searchGrupo :_searchGrupo | searchVencimento: _searchVencimento" >
              <td>
                <h6 class="font-14 my-1 fw-normal">
                  <i class='bx bxs-circle' [ngClass]="{'text-danger': prod.dias < 0,
                                                       'text-warning': prod.dias < 16,
                                                       'text-info':  prod.dias < 31 ,
                                                       'text-success':  prod.dias > 29 }"></i>
                  {{prod.nome_sal}}
                </h6>
                <span class="text-muted font-10"> Qtd. Lote {{prod.qtd}}</span>
              </td>
              <td>
                <h6>{{prod.ds_setor}}</h6>
                <span class="text-muted font-10">Lote. {{prod.lote}}</span>
              </td>
              <td>
                <h5 class="font-14 my-1 fw-normal">
                  {{prod.validade}}
                </h5>
                <span class="text-muted font-10">Dias {{prod.dias}}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
