<div class="card mt-1">
  <div class="card-header">
    <div class="d-flex flex-column align-items-center" >
      <h2 class="text-uppercase mb-2 d-flex align-items-center" [style.color]="color.colorBlueDark">
        <i class='h3 bx bx-time mr-1 mt-1'></i> DRE
      </h2>
      <h4 class="text-uppercase text-center " [style.color]="color.colorGray">
        Resultado do Exercício
        <span class="h2 mb-0 text-success">
          <i class="bx"
              [ngClass]="{'bx-trending-up text-success': _resultado >= 0, 'bx-trending-down text-danger': _resultado < 0}">
          </i>
        </span>
      </h4>
      <div class="row align-items-center text-center">
        <div class="col-12">
          <h3 class="text-uppercase"
              [ngClass]="{'text-success': _resultado >= 0, 'text-danger': _resultado < 0}">
            {{_resExercicio}}
          </h3>
        </div>
      </div>
      <div class="col-12 d-flex">
        <div class="btn-group col-12" role="group" aria-label="Basic radio toggle button group">
          <input type="radio" class="btn-check btn-col" name="btnradio" id="btnradio1" (click)="onClick(1)" autocomplete="off" data-bs-target=".multi-collapse"  data-toggle="collapse" data-target="#collDREGrupo"  checked>
          <label class="btn btn-sm btn-outline-primary" for="btnradio1"><i class='bx bxs-bookmark'></i> Grupo</label>

          <input type="radio" class="btn-check btn-col" name="btnradio" id="btnradio2" (click)="onClick(2)" autocomplete="off" data-toggle="collapse" data-target="#collDRESubgrupo" >
          <label class="btn btn-sm btn-outline-success" for="btnradio2"><i class='bx bxs-bookmark'></i> Subgrupo</label>

          <input type="radio" class="btn-check btn-col" name="btnradio" id="btnradio3" (click)="onClick(3)" autocomplete="off" data-toggle="collapse" data-target="#collDRECCusto" >
          <label class="btn btn-sm btn-outline-info" for="btnradio3"><i class='bx bxs-bookmark'></i> Centro de Custo</label>
        </div>
      </div>

    </div>
  </div>
  <div class="card-body list-group">
    <app-spinner *ngIf="_dreGrupo.length == 0"></app-spinner>
    <!-- -------------------------------DRE GRUPO--------------------------------- -->
    <div class="collapse multi-collapse show " id="collDREGrupo">
      <div class="lst-group-item d-flex justify-content-between align-items-start" *ngFor="let dre of _dreGrupo">
        <div class="ms-2 me-auto ">
          <div  [style.color]="color.colorGray">
            <i class="bx"
              [ngClass]="{'bx-down-arrow-alt text-success': dre.tipo == 'Receitas',
                          'bx-up-arrow-alt text-danger': dre.tipo == 'Despesas' || dre.tipo == 'Despesas - Financeiras' }">
            </i>
            {{dre.descricao}}
          </div>
          <span class="text-muted font-10">{{dre.tipo}}</span>

        </div>
        <h4 class="font-14 my-1 fw-normal">{{dre.total}}</h4>
        <span class="badge rounded-pill"><i class='h2 bx bx-check text-success' ></i></span>
      </div>
    </div>
    <!-- -------------------------------DRE SUBGRUPO--------------------------------- -->
    <div class="collapse multi-collapse " id="collDRESubgrupo">
      <div class="lst-group-item d-flex justify-content-between align-items-start" *ngFor="let dre of _dreSubgrupo">
        <div class="ms-2 me-auto ">
          <div  [style.color]="color.colorGray">
            <i class="bx"
                          [ngClass]="{'bx-down-arrow-alt text-success': dre.tipo == 'Receita',
                                      'bx-up-arrow-alt text-danger': dre.tipo == 'Despesas' || dre.tipo == 'Despesas - Financeiras' }">
                        </i>
            {{dre.descricao}}
          </div>
          <span class="text-muted font-10">{{dre.tipo}}</span>

        </div>
        <h4 class="font-14 my-1 fw-normal">{{dre.total}}</h4>
        <span class="badge rounded-pill"><i class='h2 bx bx-check text-success' ></i></span>
      </div>
    </div>
     <!-- -------------------------------DRE CENTRO DE CUSTO------------------- -->
     <div class="collapse multi-collapse " id="collDRECCusto">
      <div class="lst-group-item d-flex justify-content-between align-items-start" *ngFor="let dre of _dreCC">
        <div class="ms-2 me-auto ">
          <div  [style.color]="color.colorGray">
            <i class="bx"
                          [ngClass]="{'bx-down-arrow-alt text-success': dre.tipo == 'Receita',
                                      'bx-up-arrow-alt text-danger': dre.tipo == 'Despesas' || dre.tipo == 'Despesas - Financeiras' }">
                        </i>
            {{dre.descricao}}
          </div>
          <span class="text-muted font-10">{{dre.tipo}}</span>

        </div>
        <h4 class="font-14 my-1 fw-normal">{{dre.total}}</h4>
        <span class="badge rounded-pill"><i class='h2 bx bx-check text-success' ></i></span>
      </div>
    </div>
  </div>

  <!-- -------------------------------TOTAL--------------------------------- -->
  <div class="card-footer">
    <div class="lst-group-item d-flex align-items-start">
      <div class="ms-2 me-auto ">
        <div  [style.color]="color.colorGray">
          <h5 class="font-14 my-1 fw-normal">
            <i class="bx bx-down-arrow-alt text-success"></i>
            Total Receitas
          </h5>
        </div>
      </div>
      <h4 class="font-14 my-1 fw-normal">{{_resReceita}}</h4>
    </div>
    <div class="lst-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto ">
        <div  [style.color]="color.colorGray">
          <h5 class="font-14 my-1 fw-normal">
            <i class="bx bx-up-arrow-alt text-danger"></i>
            Total Despesas
          </h5>
        </div>

      </div>
      <h4 class="font-14 my-1 fw-normal">{{_resDespesa}}</h4>
    </div>
    <div class="lst-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto ">
        <div  [style.color]="color.colorGray">
          <h5 class="font-14 my-1 fw-normal">
            <i class="bx bx-down-arrow-alt text-success"></i>
            Total Despesas Financeiras
          </h5>
        </div>
      </div>
      <h4 class="font-14 my-1 fw-normal">{{_resDespFin}}</h4>
    </div>
  </div>
</div>

