.notification {
  position: fixed;
  top: 10px;
  right: 20px;
  background-color: #36a2eb;
  color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 10px #107ef4;
  z-index: 1000;
}
