.card-body {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  align-items: stretch; /* Garantir que todas as colunas tenham a mesma altura */
}

.col-md-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centraliza o conteúdo verticalmente */
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.ml-2 {
  margin-left: 0.5rem; /* Ajuste conforme necessário para o espaçamento entre o texto e o ícone */
}

.dynamic-heading {
  font-weight: bold;
  line-height: 1; /* Ajusta o alinhamento vertical com base na altura da linha */
}

@media (max-width: 992px) {
  .dynamic-heading {
    font-size: 1.75rem; /* h2 */
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .dynamic-heading {
    font-size: 1.25rem; /* h5 */
  }
}

@media (min-width: 1200px) and (max-width: 1300px) {
  .dynamic-heading {
    font-size: 1.5rem; /* h4 */
  }
}

@media (min-width: 1300px) and (max-width: 1400px) {
  .dynamic-heading {
    font-size: 1.75rem; /* h3 */
  }
}

@media (min-width: 1400px) {
  .dynamic-heading {
    font-size: 1.75rem; /* h2 */
  }
}
