<div class="card h-100">
  <div class="card-body">
    <h3 class="text-uppercase text-center text-success mb-2 ">
      Faturamento
      <span class="h2 mb-0"><i class='bx bx-dollar'></i></span>
    </h3>
    <div class="row align-items-center text-center">
      <div class="col">
        <h6 class="text-uppercase text-body-secondary mb-2 ">
          Este Mês
        </h6>
        <div class="col-4"></div>
        <span class="h2 mb-0">
          <div class="text-success">{{esteMes}}</div>
        </span>
      </div>

      <div class="col ">
        <h6 class="text-uppercase text-body-secondary mb-2 ">
          Este Ano
        </h6>
        <span class="h2 mb-0">
          <div class="text-primary">{{esteAno}}</div>
        </span>
      </div>
    </div>
    <app-spinner *ngIf="card.length == 0"></app-spinner>
  </div>
</div>
