.card
{
  height: 100vh;

}
.card-body
{
  overflow: auto;
}

/* Estilo básico do lst-group-item */
.lst-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  border-bottom: 1px solid #dee2e6;
}


.lst-group-item:hover,
.lst-group-item:focus {
  background-color: #dee2e698; /* Cor mais intensa para o hover */
  transform: scale(1.08); /* Leve aumento no tamanho */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Suaviza a transição */
}


input.switch {
  position: relative;
  top : 5px;
  margin-right: 5px;
  margin-left: -20px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 35px !important;
  height: 20px;
  border-radius: 30px;
  cursor: pointer;
  background: #ccc;
  transition: box-shadow 0.3s ease-in-out, padding 0.25s ease-in-out;
  transition-delay: 0.1s, 0s;
}
input.switch:focus {
  border: 0;
  outline: 0;
}
input.switch:checked {
  transition-delay: 0s, 0s;
  box-shadow: inset 0 0 0 2.62857em #00c169 !important;
  padding-left: 15px;
}
input.switch:before {
  display: inline-block;
  height: 14px;
  width: 14px;
  margin: 3px;
  background-color: #fff;
  border-radius: 2.1em;
  transition: all 0.1s ease 0.1s;
}
input.switch:before, input.switch:after {
  content: "";
  display: block;
}
input.switch:active::before {
  transition: all 0.1s ease 0.05s;
}
