<div class="card">
  <div class="card-header">
    <div class="d-flex flex-column align-items-center" >
      <h5 class="text-uppercase mb-2 d-flex align-items-center" [style.color]="color.colorBlueDark">
        <i class='h5 bx bx-time mr-1 mt-1'></i> Faturamento Pendente
      </h5>
    </div>
  </div>
  <div class="card-body list-group">
    <div class="lst-group-item d-flex justify-content-between align-items-start" *ngFor="let fat of _list">
      <div class="ms-2 me-auto ">
        <div class="fw-bold" [style.color]="color.colorBlue">{{fat.nompac}}</div>
        <div class="d-flex">
          <div class="text-uppercase ">{{fat.convenio}} - {{fat.ds_tipo}}</div>
          <div class="ms-3"><h5 [style.color]="color.colorGreenDark">R${{fat.valor_total}}</h5></div>
        </div>
        <div>
          <b class="text-body-secondary">Setor :</b> {{fat.ds_setor_movto_same}}
        </div>
        <div>
          <b class="text-body-secondary">Etapa :</b> {{fat.ds_etapa_conta}}
        </div>
        <div class="d-flex" *ngIf="!fat.apresentado">
          <div>
            <b class=" fw-bold text-body-secondary">Apresent.:</b>
            {{fat.apresentacao}}
          </div>
          <div class="ms-3">
            <b class="  fw-bold text-body-secondary">Remessa:</b>
            {{fat.nr_remessa}}
          </div>
        </div>
      </div>
      <span class="badge rounded-pill"><i class='h2 bx bx-check text-success' *ngIf="!fat.apresentado"></i></span>
    </div>
  </div>
</div>
