
<nav id="contentDash" >
  <nav class="px-3">
  <!-- ===============================================FINAL CARDS========================================================= -->

    <div class="row ">
      <div class=" mt-1 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6  ">
        <div class="card h-100">
          <div class="card-body h-100">
            <div class="row">
              <div class="mt-1 col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                <app-card-cirurgias-realizadas></app-card-cirurgias-realizadas>
              </div>
              <div class="mt-1 col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <div class="row d-flex justify-content-center align-items-center">
                  <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12 col-xl-12">
                    <!-- <canvas id="_rcRecCirurgiasConv"></canvas> -->
                     <app-cirurgias-relizadas-conv-top></app-cirurgias-relizadas-conv-top>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class=" mt-1 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6  ">
        <div class="card h-100">
          <div class="card-body h-100">
            <div class=" border-translucent">
              <app-receitas></app-receitas>
              <div class="d-flex align-items-start mb-1">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class=" mt-1 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12  ">
        <div class="card h-100">
          <div class="card-body h-100">

            <div class="row">
              <div class="mt-1 col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">

                <div class="row d-flex justify-content-center align-items-center">
                  <div class="col-xs-6 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <canvas id="_rcIntConv"></canvas>
                  </div>
                </div>
              </div>
              <div class="mt-1 col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="row d-flex justify-content-center align-items-center">
                  <div class="col-xs-6 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <canvas id="_rcConsConv"></canvas>
                  </div>
                </div>
              </div>
              <div class="mt-1 col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">

                <div class="row d-flex justify-content-center align-items-center">
                  <div class="col-xs-6 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <canvas id="_rcSADTConv"></canvas>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </nav>
</nav>


