<nav class="px-3 py-1">
  <app-filtrodata></app-filtrodata>
</nav>

<nav id="contentDash">
  <nav class="px-3">
    <div class="row">
      <!-- First Column -->

      <div class="mt-1 col-12 col-xl-6 d-flex flex-column">
        <div class="card flex-grow-1">
          <div class="card-body d-flex flex-column">
            <div class="border-translucent flex-grow-1">
              <app-card-cirurgias-realizadas></app-card-cirurgias-realizadas>
              <div class="d-flex align-items-start mb-1"></div>
            </div>
          </div>
        </div>
      </div>

      <!-- Second Column -->
      <div class="mt-1 col-12 col-xl-6 d-flex flex-column">
        <div class="card flex-grow-1">
          <div class="card-body d-flex flex-column">
            <div class="border-translucent flex-grow-1">
              <app-receitas></app-receitas>
              <div class="d-flex align-items-start mb-1"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-1 col-12 d-flex flex-column">
        <div class="card flex-grow-1">
          <div class="card-body d-flex flex-column">
            <div class="row flex-grow-1">
              <div class="mt-1 col-12 col-sm-6 col-md-6 col-lg-6 col-xl-3 d-flex align-items-center justify-content-center">
                <div class="w-100">
                  <app-int-top-conv></app-int-top-conv>
                </div>
              </div>
              <div class="mt-1 col-12 col-sm-6 col-md-6 col-lg-6 col-xl-3 d-flex align-items-center justify-content-center">
                <div class="w-100">
                  <app-cons-top-conv></app-cons-top-conv>
                </div>
              </div>
              <div class="mt-1 col-12 col-sm-6 col-md-6 col-lg-6 col-xl-3 d-flex align-items-center justify-content-center">
                <div class="w-100">
                  <app-sadt-top-conv></app-sadt-top-conv>
                </div>
              </div>
              <div class="mt-1 col-12 col-sm-6 col-md-6 col-lg-6 col-xl-3 d-flex align-items-center justify-content-center">
                <div class="w-100">
                  <app-cirurgias-relizadas-conv-top></app-cirurgias-relizadas-conv-top>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</nav>
