
<nav class="wrapper">
  <!-- {{isMobile}} -->
  <button class="hamburguer" (click)="ActiveMenu()" [class.active]="active" *ngIf="router.url !== '/' && router.url !== '**'"></button>

  <aside class="sidebar" [class.active]="active" *ngIf="router.url !== '/' && router.url !== '**'">

    <ul class="sidebar-nav" >
      <li class="sidebar-item" *ngIf="globalVars.dash">
          <a [routerLink]="['/dash']" class="sidebar-link" (click)="ActiveMenu()">
          <i class='bx bxs-dashboard'><p *ngIf="isMobile" > Dash</p></i>
        </a>
      </li>

      <li class="sidebar-item" *ngIf="globalVars.dash_receitas">
        <a [routerLink]="['/dash-receitas']"  class="sidebar-link" (click)="ActiveMenu()" >
          <i class='bx bxs-doughnut-chart'><p *ngIf="isMobile" > Dash Receitas</p></i>
        </a>
      </li>
      <li class="sidebar-item" *ngIf="globalVars.dash_farm">
        <a [routerLink]="['/dash-farm']"  class="sidebar-link" (click)="ActiveMenu()" >
          <i class='bx bx-injection'> <p *ngIf="isMobile" > Farmácia</p></i>
        </a>
      </li>

      <li class="sidebar-item" *ngIf="globalVars.dash_fin">
        <a [routerLink]="['/dash-fin']"  class="sidebar-link" (click)="ActiveMenu()" >
          <i class='bx bx-dollar'> <p *ngIf="isMobile" > Financeiro</p></i>
        </a>
      </li>

      <li class="sidebar-item" *ngIf="globalVars.dash_fat">
        <a [routerLink]="['/dash-fat']"  class="sidebar-link" (click)="ActiveMenu()" >
          <i class='bx bx-calculator'> <p *ngIf="isMobile" > Faturamento</p></i>
        </a>
      </li>

      <li class="sidebar-item">
        <a [routerLink]="['/dash-user']"  class="sidebar-link" (click)="ActiveMenu()" >
          <i class='bx bxs-user'> <p *ngIf="isMobile" > Dash User</p></i>
        </a>
      </li>

      <!-- <li class="sidebar-item" *ngIf="globalVars.admin">
        <a [routerLink]="['/ialuk']"  class="sidebar-link" (click)="ActiveMenu()" >
          <i class='bx bxs-brain'> <p *ngIf="isMobile" > IA Luc</p></i>
        </a>
      </li> -->

      <li class="sidebar-item" *ngIf="globalVars.admin">
        <a [routerLink]="['/permissoes']"  class="sidebar-link" (click)="ActiveMenu()" >
          <i class='bx bx-cog'> <p *ngIf="isMobile" > Permissões</p></i>
        </a>
      </li>


    </ul>
    <div class="sidebar-footer ">
        <a [routerLink]="['/']" routerLinkActive="router-link-active" k="/" class="sidebar-link" (click)="onLogout(); $event.preventDefault()">
          <i class='bx bxs-log-out' ></i>
            <span *ngIf="isMobile">Logout</span>
        </a>
    </div>
  </aside>
  <div class="main">
    <router-outlet />
  </div>
</nav>

