<!-- <p>login works!</p>
<nav>
  <a routerLink="/dash"> DASH </a>
</nav>
<div class="d-flex">

  <div class="sidebar-logo">
      <a href="/dash/1/adm">DASH</a>
  </div>
</div> -->

<!-- {{isMobile}} -->

<div class="main-login">
  <!-- <div class="left-login">

    <img src="../../../assets/banner.jpg" class="left-login-img" alt="Lucedata">
  </div> -->


  <div class="right-login">
    <div class="card-login">
      <h3 class="raleway"><i class='bx bx-line-chart'></i> Lucedata</h3>
      <div class="textfield">
        <label for="text" class="raleway">Usuário</label>
        <div class="input-group flex-nowrap">
          <span class="input-group-text" id="addon-wrapping">
            <i class='bx bxs-user colorico' ></i>
          </span>
          <input type="text" class="form-control" id="usuario"  name="usuario" placeholder="usuario" aria-label="usuario" aria-describedby="addon-wrapping">
        </div>
      </div>
      <div class="textfield">
        <label for="senha" class="raleway">Senha</label>
        <div class="input-group flex-nowrap">
          <span class="input-group-text" id="addon-wrapping">
            <i class='bx bxs-lock-alt colorico' ></i>
          </span>
          <input type="password" class="form-control" id="senha"  name="senha" placeholder="senha" aria-label="senha" aria-describedby="addon-wrapping">
        </div>
      </div>
      <button class="btn-login noto-sans" (click)="onLogin()" >Login</button>
    </div>

  </div>

</div>
