<pre><code>{{ASQL}}</code></pre>

{{codigoInstrucao}}
<div class="mb-3">
  <div class="form-floating mb-3">
    <input class="form-control" list="datalistTabela"  id="searchTable" placeholder="Type to search..." [(ngModel)]="searchTable">
    <datalist id="datalistTabela" >
      <option value="{{tabela.tabela}}" *ngFor="let tabela of listTabela" >
    </datalist>
    <label for="searchTable">Tabela</label>
  </div>
</div>
<div class="mb-3">
  <div class="form-floating mb-3">
    <input class="form-control" list="datalisttipo"  id="searchTipo" placeholder="Type to search..." [(ngModel)]="searchTipo">
    <datalist id="datalisttipo" >
      <option value="{{tipo.tipo}}" *ngFor="let tipo of listTipo" >
    </datalist>
    <label for="searchTipo">Tipo</label>
  </div>
</div>
<div class="mb-3">
  <div class="form-floating mb-3">
    <input class="form-control" list="datalistCampo"  id="searchCampo" placeholder="Type to search..." [(ngModel)]="searchCampo">
    <datalist id="datalistCampo" >
      <option value="{{campo.campo}}" *ngFor="let campo of listCampo" >{{campo.tabela}}
    </datalist>
    <label for="searchCampo">Campo ou Null</label>
  </div>
</div>
<div class="mb-3">
  <textarea class="form-control form-control-sm" id="exampleFormControlTextarea1" placeholder="Instrução" rows="3" [(ngModel)]="instrucao"></textarea>
</div>
<!-- <button class="btn btn-primary btn-sm" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions">Listar Todas instruções</button> -->
<div class="d-flex justify-content-end">
  <div class="btn-group" role="group" aria-label="Botões de Ação">
    <button type="button" class="btn btn-gravar" (click)="gravarDados()">
      <i class="bx bx-save"></i> Gravar
    </button>

    <button type="button" class="btn btn-limpar" (click)="limparCampos()">
      <i class="bx bx-trash"></i> Limpar
    </button>
  </div>
</div>


<div class="filterInstrucoes" *ngIf="searchTable != '' || searchTipo != '' || searchCampo !='' " >
  <div class="instrucoes position-relative" (scroll)="onScroll($event)"
     *ngFor="let ia of (IAInstrucoes | searchInstrucoes: searchTable : searchTipo : searchCampo)">

    <!-- Botão de exclusão no topo, alinhado à direita -->
    <button type="button" class="btn btn-excluir position-absolute top-0 end-0 m-2"
            [value]="ia.codigo"
            (click)="excluirInstrucao(ia.codigo)">
      <i class="bx bx-trash"></i>
    </button>

    <!-- Conteúdo existente -->
    <h4>Tipo : {{ia.tipo}}</h4>
    <p>Tabela : {{ia.tabela}}</p>
    <p *ngIf="ia.campo != null ">Campo : {{ia.campo}}</p>
    <b class="fw-bold">Instrução : </b>
    <pre class="text-break"><code>{{ia.instrucao}}</code></pre>
    <button type="button" class="btn" [value]="ia.codigo" (click)="alterarInstrucao(ia.codigo)">
      <i class="bx bx-edit"></i> Alterar
    </button>
  </div>

</div>


<div class="offcanvas offcanvas-end text-bg-dark w-50" data-bs-backdrop="static" tabindex="-1" id="offcanvasWithBothOptions" >
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasDarkLabel">Instruções</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body" >
    <div class="instrucoes" (scroll)="onScroll($event)" *ngFor="let ia of IAInstrucoes" >
      <h4>Tipo : {{ia.tipo}}</h4>
      <p>Tabela : {{ia.tabela}}</p>
      <p *ngIf="ia.campo != null ">Campo : {{ia.campo}}</p>
      <b class=" fw-bold">Instrução : </b>
      <pre class="text-break"><code>{{ia.instrucao}}</code></pre>
    </div>
  </div>
</div>
