<div class="card h-100">
  <div class="card-body">
    <h3 class="text-uppercase text-center text-primary mb-2 ">
      Leitos
      <span class="h2 mb-0"><i class='bx bx-bed'></i></span>
    </h3>
    <div class="row align-items-center text-center">
      <div class="col-4">
        <h6 class="text-uppercase text-body-secondary mb-2">
          Disponíveis
        </h6>
        <span id="lbLeitosD" class=" h1 mb-0 text-success"> </span>
        <span id="lbporcent" class=" position-relative badge rounded-pill bg-primary"> </span>
      </div>
      <div class="col-4">
        <h6 class="text-uppercase text-body-secondary mb-2">
          Ocupados
        </h6>
        <span id="lbLeitosO" class=" h1 mb-0 text-warning"> </span>
        <span id="lbporcentO" class="badge rounded-pill bg-primary"> </span>
      </div>
      <div class="col">
        <h6 class="text-uppercase text-body-secondary mb-2">
          Total
        </h6>
        <span id="lbLeitosT" class=" h1 mb-0"> </span>
      </div>
    </div>
  </div>
</div>
