<!-- <app-filtrodata></app-filtrodata> -->

<div class="row">
  <div class="col-md-12 col-lg-8">
    <div class="row">
      <app-card-fat-total-situacao class="col-6 "></app-card-fat-total-situacao>
      <app-card-fat-total-ano class="col-6"></app-card-fat-total-ano>
      <app-card-fat-sit-ano-mes class="col-12"></app-card-fat-sit-ano-mes>
      <app-card-graph-conv-faturados class="col-12"></app-card-graph-conv-faturados>
    </div>
  </div>
  <div class="col-md-12 col-lg-4">
    <app-card-list-pendente></app-card-list-pendente>
  </div>
</div>
