<nav id="content" class="px-3 py-1">
  <!-- NAVBAR -->
  <nav>
    <form class="frmFilter" action="#">
      <div class="form-input">
        <mat-form-field>
          <mat-label>Selecione o período</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input (dateInput)="onDateIn($event.value)" id="dataIn" matStartDate placeholder="Data Inicial" >
            <input (dateInput)="onDateUntil($event.value)" matEndDate placeholder="Data Final">
          </mat-date-range-input>

          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      </div>
    </form>
  </nav>
</nav>

<nav id="contentDash" >
  <nav class="px-3">
    <div class="row">
      <div class="col-12 sm-12 md-12 col-lg-4 col-xl-4">
        <app-card-leitos></app-card-leitos>
        <!-- <div class="card h-100">
          <div class="card-body">
            <h3 class="text-uppercase text-center text-primary mb-2 ">
              Leitos
              <span class="h2 mb-0"><i class='bx bx-bed'></i></span>
            </h3>
            <div class="row align-items-center text-center">
              <div class="col-4">
                <h6 class="text-uppercase text-body-secondary mb-2">
                  Disponíveis
                </h6>
                <span id="lbLeitosD" class=" h1 mb-0 text-success"> </span>
                <span id="lbporcent" class=" position-relative badge rounded-pill bg-primary"> </span>
              </div>
              <div class="col-4">
                <h6 class="text-uppercase text-body-secondary mb-2">
                  Ocupados
                </h6>
                <span id="lbLeitosO" class=" h1 mb-0 text-warning"> </span>
                <span id="lbporcentO" class="badge rounded-pill bg-primary"> </span>
              </div>
              <div class="col">
                <h6 class="text-uppercase text-body-secondary mb-2">
                  Total
                </h6>
                <span id="lbLeitosT" class=" h1 mb-0"> </span>
              </div>
            </div>
          </div>
        </div> -->
      </div>

      <div class="col-12 sm-12 md-12 col-lg-4 col-xl-4">
        <app-card-faturamento></app-card-faturamento>
        <!-- <div class="card h-100">
          <div class="card-body">
            <h3 class="text-uppercase text-center text-success mb-2 ">
              Faturamento
              <span class="h2 mb-0"><i class='bx bx-dollar'></i></span>
            </h3>
            <div class="row align-items-center text-center">
              <div class="col">
                <h6 class="text-uppercase text-body-secondary mb-2 ">
                  Este Mês
                </h6>
                <div class="col-4"></div>
                <span class="h2 mb-0">
                  <div id="cardfat_mes" class="text-success"></div>
                </span>
              </div>

              <div class="col ">
                <h6 class="text-uppercase text-body-secondary mb-2 ">
                  Este Ano
                </h6>
                <span class="h2 mb-0">
                  <div id="cardfat_ano" class="text-primary"> </div>
                </span>
              </div>
            </div>
          </div>
        </div> -->
      </div>
      <div class="col-12 sm-12 md-12 col-lg-4 col-xl-4">
        <div class="card h-100">
          <div class="card-body">
            <carousel [interval]="carTime" [isAnimated]="true">
              <slide>
                <h3 class="text-uppercase text-center text-info mb-2 ">
                  Consultas PA
                  <span class="h2 mb-0"><i class='bx bxs-user'></i></span>
                </h3>
                <div class="row align-items-center text-center">
                  <div class="col">
                    <h6 class="text-uppercase text-body-secondary mb-2">Este Mes</h6>
                    <span class="h2 mb-0" id="cardConsultaM"></span>
                  </div>
                  <div class="col">
                    <h6 class="text-uppercase text-body-secondary mb-2">Este Ano</h6>
                    <span class="h2 mb-0" id="cardConsultaA"></span>
                  </div>
                </div>
              </slide>
              <slide>
                <h3 class="text-uppercase text-center text-info mb-2 ">
                  Internaçoes
                  <span class="h2 mb-0"><i class='bx bxs-user'></i></span>
                </h3>
                <div class="row align-items-center text-center">
                  <div class="col">
                    <h6 class="text-uppercase text-body-secondary mb-2">Este Mes</h6>
                    <span class="h2 mb-0" id="cardIntM"></span>
                  </div>
                  <div class="col">
                    <h6 class="text-uppercase text-body-secondary mb-2">Este Ano</h6>
                    <span class="h2 mb-0" id="cardIntA"></span>
                  </div>
                </div>
              </slide>
              <slide>
                <h3 class="text-uppercase text-center text-info mb-2 ">
                  SADT
                  <span class="h2 mb-0"><i class='bx bxs-user'></i></span>
                </h3>
                <div class="row align-items-center text-center">
                  <div class="col">
                    <h6 class="text-uppercase text-body-secondary mb-2">Este Mes</h6>
                    <span class="h2 mb-0" id="cardSADTM"></span>
                  </div>
                  <div class="col">
                    <h6 class="text-uppercase text-body-secondary mb-2">Este Ano</h6>
                    <span class="h2 mb-0" id="cardSADTA"></span>
                  </div>
                </div>
              </slide>
            </carousel>
          </div>
        </div>
      </div>
    </div>

  <!-- ===============================================FINAL CARDS========================================================= -->

    <div class="row ">
      <div class=" mt-1 col-xs-12 col-sm-12 col-md-12 col-lg-6  ">
        <div class="card h-60">
          <div class="card-body ">
            <div class="border-bottom border-translucent">
              <div class="d-flex align-items-start mb-1">
                <canvas id="_rcNatureza" width="100" height="40"></canvas>
              </div>
            </div>
            <div class="row g-1 g-sm-3 mt-2 lh-1">
              <!-- TOTAL -->
            </div>
          </div>
        </div>
      </div>

      <div class=" mt-1 col-xs-12 col-sm-12 col-md-12 col-lg-6">
        <div class="card h-60">
          <div class="card-body">
            <div class="border-bottom border-translucent">
              <div class="d-flex align-items-start mb-1">
                <canvas id="_rcDespesa" width="100" height="40"></canvas>
              </div>
            </div>
            <div class="row g-1 g-sm-3 mt-2 lh-1">
              <!-- TOTAL -->
            </div>
          </div>
        </div>
      </div>
      <div class=" mt-1 col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card h-100">
          <div class="card-body h-60">
            <h3>Prazo Médio Recebimento</h3>
            <div class="row">
              <div class="mt-1 col-xs-12 col-sm-12 col-md-12 col-lg-6">
                <canvas id="_rcPrazoRecD"width="100" height="20"></canvas>
              </div>
              <div class="mt-1 col-xs-12 col-sm-12 col-md-12 col-lg-6">
                <canvas id="_rcPrazoRecAno"width="100" height="20"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</nav>
