<nav id="content" class="px-3 py-1">
  <!-- NAVBAR -->
  <nav>
    <!-- <form class="frmFilter" action="#">
      <div class="form-input">
        <mat-form-field>
          <mat-label>Selecione o período</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input (dateInput)="onDateIn($event.value)" id="dataIn" matStartDate placeholder="Data Inicial" >
            <input (dateInput)="onDateUntil($event.value)" matEndDate placeholder="Data Final">
          </mat-date-range-input>

          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      </div>
    </form> -->
    <!-- <app-filtrodata [cardCompDespesasComponent]="cardCompDespesasComponent"></app-filtrodata> -->

    <app-filtrodata></app-filtrodata>

  </nav>
</nav>

<nav id="contentDash" >
  <nav class="px-3">
    <div class="row">
      <div class="col-12 sm-12 md-12 col-lg-4 col-xl-4">
        <app-card-leitos></app-card-leitos>
      </div>

      <div class="col-12 sm-12 md-12 col-lg-4 col-xl-4">
        <app-card-faturamento></app-card-faturamento>
      </div>
      <div class="col-12 sm-12 md-12 col-lg-4 col-xl-4">
        <app-card-atendimentos></app-card-atendimentos>
      </div>
    </div>


    <div class="row ">
      <div class=" mt-1 col-xs-12 col-sm-12 col-md-12 col-lg-6  ">
        <div class="card h-60">
          <div class="card-body ">
            <div class="border-bottom border-translucent">
              <app-card-receita-natureza></app-card-receita-natureza>
            </div>
          </div>
        </div>
      </div>

      <div class=" mt-1 col-xs-12 col-sm-12 col-md-12 col-lg-6">
        <div class="card h-60">
          <div class="card-body">
            <div class="border-bottom border-translucent">
              <app-card-comp-despesas #cardCompDespesasComponent></app-card-comp-despesas>
              <!-- <app-card-comp-despesas></app-card-comp-despesas> -->
            </div>
          </div>
        </div>
      </div>
      <div class=" mt-1 col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card h-100">
          <div class="card-body h-60">
            <h3>Prazo Médio Recebimento</h3>
            <div class="row">
              <div class="mt-1 col-xs-12 col-sm-12 col-md-12 col-lg-6">
                <app-card-prazo-med-receb-mes></app-card-prazo-med-receb-mes>
              </div>
              <div class="mt-1 col-xs-12 col-sm-12 col-md-12 col-lg-6">
                <app-card-prazo-med-receb-ano></app-card-prazo-med-receb-ano>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</nav>
