
<div class="card h-100">
  <div class="card-body">

    <carousel [interval]="carTime" [isAnimated]="true">
      <slide>
        <h3 class="text-uppercase text-center text-info mb-2 ">
          Consultas PA
          <span class="h2 mb-0"><i class='bx bxs-user'></i></span>
        </h3>
        <div class="row align-items-center text-center">
          <div class="col">
            <h6 class="text-uppercase text-body-secondary mb-2">Este Mes</h6>
            <span class="h2 mb-0" id="cardConsultaM"></span>
          </div>
          <div class="col">
            <h6 class="text-uppercase text-body-secondary mb-2">Este Ano</h6>
            <span class="h2 mb-0" id="cardConsultaA"></span>
          </div>
        </div>
      </slide>
      <slide>
        <h3 class="text-uppercase text-center text-info mb-2 ">
          Internaçoes
          <span class="h2 mb-0"><i class='bx bxs-user'></i></span>
        </h3>
        <div class="row align-items-center text-center">
          <div class="col">
            <h6 class="text-uppercase text-body-secondary mb-2">Este Mes</h6>
            <span class="h2 mb-0" id="cardIntM"></span>
          </div>
          <div class="col">
            <h6 class="text-uppercase text-body-secondary mb-2">Este Ano</h6>
            <span class="h2 mb-0" id="cardIntA"></span>
          </div>
        </div>
      </slide>
      <slide>
        <h3 class="text-uppercase text-center text-info mb-2 ">
          SADT
          <span class="h2 mb-0"><i class='bx bxs-user'></i></span>
        </h3>
        <div class="row align-items-center text-center">
          <div class="col">
            <h6 class="text-uppercase text-body-secondary mb-2">Este Mes</h6>
            <span class="h2 mb-0" id="cardSADTM"></span>
          </div>
          <div class="col">
            <h6 class="text-uppercase text-body-secondary mb-2">Este Ano</h6>
            <span class="h2 mb-0" id="cardSADTA"></span>
          </div>
        </div>
      </slide>
    </carousel>
    <app-spinner *ngIf="card.length == 0"></app-spinner>
  </div>
</div>
