<div class="content">

  <ul class="nav nav-tabs">
    <li><a class="nav-link active"  data-toggle="tab" href="#geral">Curva ABC Custo</a></li>
    <li><a class="nav-link " data-toggle="tab" href="#produtosal2">Medicamento Validade</a></li>
    <li><a class="nav-link " data-toggle="tab" href="#produtosal2_detalhe">Medicamento Detalhe</a></li>
  </ul>


  <!-- <app-filtrodata></app-filtrodata> -->
  <div class="tab-content">
  <!--------------------------------------------------------------------------------------------------------------------->
  <!---------------------------------------------------------- GERAL----------------------------------------------------->
  <!--------------------------------------------------------------------------------------------------------------------->
    <div id="geral" class="tab-pane active m-2">
      <div class="card content">
        <div class="card-header">
          <div class="row">
            <div class="col col-6 col-sm-12 col-md-6 col-lg-6 m-1">
              <div class="form-floating">
                <input type="text" class="form-control" id="searchMedicamento" placeholder="Buscar medicamento..."  [(ngModel)]="_searchDescricao">
                <label for="searchMedicamento">Medicamento</label>
              </div>
            </div>
            <div class="col col-5 col-sm-12 col-md-5 col-lg-5 m-1">
              <form class="frmFilter" action="#">
                <div class="form-input">
                  <mat-form-field>
                    <mat-label>Selecione o período</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                      <input (dateInput)="onDateIn($event.value)" id="dataIn" matStartDate placeholder="Data Inicial" >
                      <input (dateInput)="onDateUntil($event.value)" matEndDate placeholder="Data Final">
                    </mat-date-range-input>

                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                  </mat-form-field>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="d-flex justify-content-center">
            <div class="col col-12">
              <div class="row">
                <div class="col col-4"><i class='bx bxs-circle text-success'></i> Curva A</div>
              <div class="col col-4"><i class='bx bxs-circle text-info'></i> Curva B</div>
              <div class="col col-4"><i class='bx bxs-circle text-secondary'></i> Curva C</div>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="card-body overflow-auto">
          <table class="table">
            <thead >
              <tr>
                <th scope="col">Nome Comercial </th>
                <th scope="col">Custo Médio</th>
                <th scope="col">%</th>
                <th></th>
              </tr>
            </thead>
            <tbody >
              <tr *ngFor="let curva of _curvaAbcCusto | searchCurvaABC:_searchDescricao" >
                <td>
                  <h6 class="font-14 my-1 fw-normal">
                    <i class='bx bxs-circle' [ngClass]="{'text-success': curva.curva == 'A',
                                          'text-info': curva.curva == 'B' ,'text-secondary': curva.curva == 'C' }"></i>
                    {{curva.nome_com}}
                  </h6>
                  <span class="text-muted font-10">Qtd. {{curva.qtde}}</span>
                </td>
                <td>
                  <h5 class="font-14 my-1 fw-normal">
                    R${{curva.custo}}
                  </h5>
                  <span class="text-muted font-10">Total R${{curva.total_custo_medio}}</span>

                </td>
                <td>
                  <h6 class="font-14 my-1 fw-normal">
                    {{curva.porcent}}
                  </h6>
                  <span class="text-muted font-10">Acum {{curva.porcentac}}</span>
                </td>
                <td>
                  <button class="btn btn-lg" (click)="onClickInfo(curva.codprod,curva.nome_com)" data-toggle="modal" data-target=".bd-example-modal-xl">
                    <i class='bx bxs-grid'></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>

<!--------------------------------------------------------------------------------------------------------------------->
<!---------------------------------------------------------- PRODUTOSAL2 Validade-------------------------------------->
<!--------------------------------------------------------------------------------------------------------------------->
    <div id="produtosal2" class="tab-pane fade m-2">
      <div class="row">
        <div class="col-6 sm-12 lg-6">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="searchMedicamento" placeholder="Buscar medicamento..."  [(ngModel)]="_searchMedicamento">
            <label for="searchMedicamento">Medicamento</label>
          </div>

        </div>
        <div class="col-6 sm-12 lg-6">
          <div class="form-floating mb-3">
            <input class="form-control" list="datalistOptions" id="searchGrupoMed" placeholder="Type to search..." [(ngModel)]="_searchGrupo">
            <datalist id="datalistOptions" >
              <option value="{{grupo.descricao}}" *ngFor="let grupo of _dsGrupo" >
            </datalist>
            <label for="searchGrupoMed">Grupo de Medicamento</label>
          </div>
        </div>
      </div>

      <div class="toggle">
        <input type="radio" name="sizeBy" value="-1" id="sizeWeight" [(ngModel)]="_searchVencimento"/>
        <label for="sizeWeight">Vencido</label>

        <input type="radio" name="sizeBy" value="15" id="em15dias" [(ngModel)]="_searchVencimento"/>
        <label for="em15dias">Vencimento em  15 dias</label>

        <input type="radio" name="sizeBy" value="30" id="em30dias" [(ngModel)]="_searchVencimento"/>
        <label for="em30dias">Vencimento em  30 dias</label>

        <input type="radio" name="sizeBy" value="31" id="mais30" [(ngModel)]="_searchVencimento"/>
        <label for="mais30">Vencimento após 30 dias</label>

        <input type="radio" name="sizeBy" value="-2" id="todos" checked="checked" [(ngModel)]="_searchVencimento"/>
        <label for="todos">Todos</label>
      </div>

      <div class="row">
        <div class="col col-12 ">
          <div class="card content">
            <div class="row">
              <div class="d-flex justify-content-center">
                <div class="col col-12">
                  <div class="row">
                    <div class="col col-3"><i class='bx bxs-circle text-danger'></i> Vencido</div>
                    <div class="col col-3"><i class='bx bxs-circle text-warning'></i> Vencimento em  15 dias</div>
                    <div class="col col-3"><i class='bx bxs-circle text-info'></i> Vencimento em  30 dias</div>
                    <div class="col col-3"><i class='bx bxs-circle text-success'></i>Vencimento após 30 dias</div>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <div class="card-body overflow-auto">
              <table class="table">
                <thead >
                  <tr>
                    <th scope="col"><i class='bx bx-clinic'></i> Medicamento </th>
                    <th scope="col"><i class='bx bx-clinic'></i> Local </th>
                    <th scope="col"><i class='bx bx-calendar'></i> Validade</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let prod of _ProdutoValidade | searchMedicamentos:_searchMedicamento | searchGrupo :_searchGrupo | searchVencimento: _searchVencimento" >
                    <td>
                      <h6 class="font-14 my-1 fw-normal">
                        <i class='bx bxs-circle' [ngClass]="{'text-danger': prod.dias < 0,
                                                             'text-warning': prod.dias < 16,
                                                             'text-info':  prod.dias < 31 ,
                                                             'text-success':  prod.dias > 29 }"></i>
                        {{prod.nome_sal}}
                      </h6>
                      <span class="text-muted font-10"> Qtd. Lote {{prod.qtd}}</span>
                    </td>
                    <td>
                      <h6>{{prod.ds_setor}}</h6>
                      <span class="text-muted font-10">Lote. {{prod.lote}}</span>
                    </td>
                    <td>
                      <h5 class="font-14 my-1 fw-normal">
                        {{prod.validade}}
                      </h5>
                      <span class="text-muted font-10">Dias {{prod.dias}}</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
<!--------------------------------------------------------------------------------------------------------------------->
<!---------------------------------------------------------- PRODUTOSAL2 detalhe-------------------------------------->
<!--------------------------------------------------------------------------------------------------------------------->
    <div id="produtosal2_detalhe" class="tab-pane fade m-2">
      <div class="row">
        <div class="col-6 sm-12 lg-6">
          <div class="form-floating mb-3">
            <input class="form-control" list="datalistProdutoSal" (change)="onProdutoSalChange()" id="searchProdutoSal" placeholder="Type to search..." [(ngModel)]="_searchProdutoSal">
            <datalist id="datalistProdutoSal" >
              <option value="{{produtosal.codsal + ' - '+produtosal.nome_sal}}" *ngFor="let produtosal of _ProdutoSal" >
            </datalist>
            <label for="searchProdutoSal">Medicamento(Farmacológico)</label>
          </div>
        </div>
      </div>
      <div *ngIf="_searchProdutoSal == '' ">
        <h1 class="display-4">Detalhamento do medicamento</h1>
        <p class="lead">Informe o código ou nome farmacolóco</p>
      </div>

      <div class="row p-1 ">
        <div class="col-sm-12" [ngClass]="{'col-md-12 col-lg-12 col-xl-12': _perdas.length <= 0,
                                         'col-md-12 col-lg-10 col-xl-9': _perdas.length == 1,
                                         'col-md-12 col-lg-7 col-xl-8': _perdas.length == 2,
                                         'col-md-12 col-lg-6 col-xl-6': _perdas.length > 2}">
          <div class="card" *ngIf="_Produtos.length > 0 && _searchProdutoSal != ''">
            <h5 class="card-header">Custo médio por produto</h5>
            <div class="card-body">
              <div class="row">
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-3" *ngFor="let prod of _Produtos">
                  <div class="card h-100">
                    <div class="card-body">
                      <h6 class="text-uppercase text-center" style="color: #525253;">
                        {{prod.nome_com}}
                      </h6>
                      <h6 class="text-uppercase text-center" style="color: #36a2eb;">
                        {{prod.nome_fabricante}}
                      </h6>
                      <div class="row align-items-center text-center">
                        <div class="col">
                          <h6 class="text-uppercase text-body-secondary mb-2">
                            Custo Médio
                          </h6>
                          <span class="h3 mb-0" style="color: #58595c;">
                            R${{prod.custo_medio}}
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="col-sm-12" [ngClass]="{
                  'col-md-12 col-lg-6 col-xl-3': _perdas.length == 1,
                  'col-md-12 col-lg-6 col-xl-4': _perdas.length == 2,
                  'col-md-12 col-lg-6 col-xl-6': _perdas.length > 2
        }">
          <div class="card" *ngIf="_perdas.length > 0 && _searchProdutoSal != ''">
            <h5 class="card-header">Perdas</h5>
            <div class="card-body">
              <div class="row">
                <div class="col-sm-12" [ngClass]="{
                  'col-md-12 col-lg-12 col-xl-12': _perdas.length == 1,
                  'col-md-6 col-lg-6 col-xl-6': _perdas.length >= 2,
                }" *ngFor="let perda of _perdas">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="text-uppercase text-center" style="color: #f88a4a;">
                        {{perda.ds_setor}}
                        <h6 class="text-uppercase text-center" style="color: #58595c;">
                          Mês : {{perda.mes_ano}}
                        </h6>
                        <h6 class="text-uppercase text-center" style="color: #58595c;">
                          Validade : {{perda.mes_ano_validade}}
                        </h6>
                      </h5>
                      <h6 class="text-uppercase text-center" style="color: #58595c;">
                        Motivo : {{perda.motivo}}
                      </h6>

                      <div class="row align-items-center text-center">
                        <div class="col">
                          <h6 class="text-uppercase text-body-secondary mb-2">
                            Custo Médio
                          </h6>
                          <div class="col-4"></div>
                          <span class="h3 mb-0" style="color: #58595c;">
                            R${{perda.vl_custo_medio}}
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row p-1 ">
        <div class="col-9  col-sm-12 col-md-8 col-lg-9">
          <div class="card" *ngIf="_searchProdutoSal != ''">
            <h5 class="card-header">Saídas ultimos 6 mêses</h5>
            <div class="card-body">
              <div class="row">
                <div class="d-flex justify-content-center" *ngIf="_saidas.length == 0 && _searchProdutoSal != '' ">
                  <div class="spinner-grow text-info" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                </div>

                <div class="col-sm-12 col-md-5 col-lg-4 col-xl-3"   *ngFor="let saida of _saidas">
                  <div *ngIf="saida.codsal === null">
                    <h4><i class='bx bx-error-circle text-warning'></i> Não houve saídas</h4>
                  </div>
                  <div class="card" *ngIf="saida.codsal != null">
                    <div class="card-body">
                      <h5 class="text-uppercase text-center"  style="color: #36a2eb;"> {{saida.nome_fabricante}}</h5>
                      <div class="progress-circle" #progressCircle [attr.data-percentage]="saida.porcent">
                        <svg viewBox="0 0 36 36">
                          <path
                            class="circle-bg"
                            d="M18 2.0845
                                a 15.9155 15.9155 0 0 1 0 31.831
                                a 15.9155 15.9155 0 0 1 0 -31.831"
                          />
                          <path
                            class="circle"
                            d="M18 2.0845
                                a 15.9155 15.9155 0 0 1 0 31.831
                                a 15.9155 15.9155 0 0 1 0 -31.831"
                          />
                        </svg>
                        <div class="percentage">{{ saida.porcent }}%</div>
                      </div>
                      <h6 class="text-uppercase text-center">
                         Qtd.: {{saida.total_saida}}</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer text-muted">
              Total de Saídas : <b>{{ _saidas.length > 0 ? _saidas[0].total : 'Calculando...' }}</b>
            </div>
          </div>
        </div>
        <div class="col-3 col-sm-12 col-md-4 col-lg-3">
          <div class="card-hover-shadow-2x mb-3 card" *ngIf=" _searchProdutoSal != '' ">
            <div class="card-header-tab card-header">
              <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
              <i class="header-icon lnr-database icon-gradient bg-malibu-beach"> </i>Estoque
              </div>
            </div>
            <div class="scroll-area-lg">
              <div class="scrollbar-container ps ps--active-y">

                <ul class="todo-list-wrapper list-group list-group-flush" *ngFor="let prod of _detalheProdutoFarmLocal">
                  <li class="list-group-item">
                    <div class="todo-indicator bg-warning"></div>
                    <div class="widget-content p-0">
                      <div class="widget-content-wrapper">
                        <div class="widget-content-left">
                          <div class="widget-heading">
                            <i class='bx bx-home' style="color: #36a2eb;"></i>
                            <b> {{prod.ds_setor}}</b>
                            <!-- <div class="badge badge-danger ml-2">Rejected</div> -->
                          </div>
                          <div class="widget-subheading"><i>Lote : {{prod.lote}} Qtd.: {{prod.qtd}}</i></div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>

            <div class="card-footer">
              <small class="text-muted">
                Total: {{ _detalheProdutoFarmLocal?.[_detalheProdutoFarmLocal.length-1]?.total  }}
              </small>
            </div>


          </div>
        </div>
      </div>

      <div class="row p-1 ">
        <div class="col-9 col-sm-12 col-md-8 col-lg-9" >
          <div class="card" *ngIf="_searchProdutoSal != ''">
            <h5 class="card-header">Entradas ultimos 6 mêses</h5>
            <div class="card-body">
              <div *ngIf="_NFEntradaProd.length>0 && _NFEntradaProd[0].codsal === null">
                <h4><i class='bx bx-error-circle text-warning'></i> Não houve Entradas</h4>
              </div>
              <div class="row">
                <div class="col col-sm-12 col-md-12 col-lg-6 col-xl-6" *ngIf="_searchProdutoSal != '' ">
                  <canvas id="_rcNfEntradaQtd" width="100" height="40"></canvas>
                </div>
                <div class="col col-sm-12 col-md-12 col-lg-6 col-xl-6" *ngIf="_searchProdutoSal != '' ">
                  <canvas id="_rcNFEntradaCusto" width="100" height="40"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3 col-sm-12 col-md-4 col-lg-3">
          <div class="row">
            <div class="col-12"  *ngFor="let cotacao of _Cotacao">
              <div class="card" *ngIf="_searchProdutoSal != ''">
                <h5 class="card-header">Cotação : {{cotacao.nr_cotacao}} </h5>
                <div class="card-body">
                  <div class="widget-content-wrapper">
                    <div class="widget-content-left">
                      <div class="widget-heading">
                        Data Cotação : {{cotacao.data_cotacao}}
                      </div>
                      <div class="widget-subheading">
                        <i>Quantidade : {{cotacao.qtde}} {{cotacao.unidade}}</i>
                      </div>
                    </div>
                    <div class="widget-content-right widget-content-actions">
                      <div class="widget-subheading">
                        <i>Bionexo :
                          <i class='bx'[ngClass]="{' bx-check text-success': cotacao.cod_bionexo_gr > 0,
                          ' bx-x text-danger': cotacao.cod_bionexo_gr < 0,}"></i>
                          <b>{{cotacao.cod_bionexo_gr}}</b></i>
                      </div>
                    </div>
                    <div class="widget-content-right widget-content-actions">
                      <div class="widget-subheading">
                        <i>Data Entrega :<b>{{cotacao.data_entrega}}</b></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- -------------------------------------------MODAL DETALHE -->
<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> {{_NomeProdDetalhe}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class=" col-12 ">
            <div class="card">
              <div class="card-body ">
                <div class="border-bottom border-translucent">
                  <div class="d-flex align-items-start mb-1">
                    <canvas id="_EntradaSaida" width="100" height="40"></canvas>
                  </div>
                </div>
                <div class="row g-1 g-sm-3 mt-2 lh-1">
                  <!-- TOTAL -->
                </div>
              </div>
            </div>
          </div>
          <div class="col col-12 ">
            <div class="card content50">
              <div class="row">
                <div class="d-flex justify-content-center">
                  <div class="col col-12">
                    <div class="row">
                      <div class="col col-3"><i class='bx bxs-circle text-danger'></i> Vencido</div>
                    <div class="col col-3"><i class='bx bxs-circle text-warning'></i> Vencimento em  15 dias</div>
                    <div class="col col-3"><i class='bx bxs-circle text-info'></i> Vencimento em  30 dias</div>
                    <div class="col col-3"><i class='bx bxs-circle text-success'></i>Vencimento após 30 dias</div>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="card-body overflow-auto">
                <table class="table">
                  <thead >
                    <tr>
                      <th scope="col"><i class='bx bx-clinic'></i> Local </th>
                      <th scope="col"><i class='bx bx-calendar'></i> Validade</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let prod of _detalheProdutoLocal" >
                      <td>
                        <h6 class="font-14 my-1 fw-normal">
                          <i class='bx bxs-circle' [ngClass]="{'text-danger': prod.dias < 0,
                                                             'text-warning': prod.dias < 15,
                                                             'text-info':  prod.dias < 30 ,
                                                             'text-success':  prod.dias > 30 }"></i>
                          {{prod.ds_setor}}
                        </h6>
                        <span class="text-muted font-10">Qtd. {{prod.qtd}}</span>
                      </td>
                      <td>
                        <h5 class="font-14 my-1 fw-normal">
                          {{prod.validade}}
                        </h5>
                        <span class="text-muted font-10">Lote. {{prod.lote}}</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
