<div class="content">
  <ul class="nav nav-tabs">
    <li><a class="nav-link active"  data-toggle="tab" href="#geral">Curva ABC Custo</a></li>
    <li><a class="nav-link " data-toggle="tab" href="#produtosal2">Medicamento Validade</a></li>
    <li><a class="nav-link " data-toggle="tab" href="#produtosal2_detalhe">Medicamento Detalhe</a></li>
  </ul>
  <div class="tab-content">
    <div id="geral" class="tab-pane active m-2">
      <app-curva-abc></app-curva-abc>
    </div>
    <div id="produtosal2" class="tab-pane fade m-2">
      <!-- <app-med-validade></app-med-validade> -->
    </div>
    <div id="produtosal2_detalhe" class="tab-pane fade m-2">
      <!-- <app-med-detalhado></app-med-detalhado> -->
    </div>
  </div>
</div>

