.content{
  height: 100vh;
}

.content50{
  height: 50vh;
}

.content-modal{
  height: 95vh;
  width: auto;
  width: auto;
  position: relative;
  left: 0px;
}


// thead th{
//   position: sticky;
//   top: 0;
//   background: rgb(218, 218, 218); /* Fundo branco para o cabeçalho */
//   z-index: 100; /* Garante que o cabeçalho fique acima do conteúdo da tabela */
// }


