.card {
  background-color: #ffffff;
  // border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 5px;
  font-family: Arial, sans-serif; /* Ensure consistent font */
}


.percentage {
  font-size: 32px; /* Larger font size for percentage */
  font-weight: bold; /* Make the percentage bold */
  color: #333; /* Darker text color for contrast */
}
